.detailed-table.padding-top60
  .title
    Feature Comparison
  %table.compare-table.comparing-gitlab
    %colgroup
      %col{:width => "80%"}
      %col{:width => "10%"}
      %col{:width => "10%"}
    %thead
      %tr
        %th.text-left.table-title
          FEATURES
        %th.text-center.table-title-logo
          = product_one.name
        %th.text-center.table-title-logo
          = image_tag "/images/devops-tools/gitlab-logo.svg", alt: "GitLab", class: "logo"
    %tbody.header.first
      - data.features.features.each do |feature|
        - shared_feature = (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
        - if shared_feature
          %tr
            %td.feature-in-list
              %p.feature-in-list-title.feature-contents
                %strong= feature.title
                - if defined?(feature)
                  = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com, is_dark: true }
              %p
                = kramdown(feature.description)
              %p
                = link_to feature.link_description, feature.link
            %td.check-container.text-center
              - if feature
                = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_one) }

            %td.check-container.text-center
              - if feature
                = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_two) }
