---
title: Ops Insights
description: Increase deployment speed, achieve efficiencies and improve quality of application delivery with GitLab operations insights
canonical_path: "/solutions/ops-insights/"
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}
 
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Ops Insights
    %p Insights to increase rate of iteration and improve quality of application delivery
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange"
.gitlab-content-container.reverse-content
  .content.row-layout
    .full-width
      %p You cannot fix what you cannot visualize and measure. Dashboards and reports with insights from various parts of your DevOps workflow help you increase deployment speed and improve the quality of application delivery.

  .content.row-layout
    .full-width
      %h2 Manage your complex pipelines
      %p Pipelines are the heart of your DevOps workflow and ensuring they are healthy and performant at all times is critical for your DevOps success.

  .content.row-layout
    .full-width
      = image_tag "images/multi_project_pipeline_graph.png", class: "screenshot margin-bottom10", alt: "Multi project pipeline graphs"

  .content.row-layout
    .full-width
      %ul
        %li
          At any time, your organization can have multiple projects in flight. With the
          = link_to "CI/CD Pipelines dashboard,", "https://docs.gitlab.com/ee/user/operations_dashboard/"
          you get an at-a-glance view of different projects in your organization. Understand each project's operational health including their pipeline and alert status so you can isolate and understand if it is affecting a specific application or your whole business.
        %li
          Initiatives that span different parts of your organizations could have multiple projects working towards a common goal and hence needing to be part of a single pipeline. With
          = link_to "multi-project pipeline graphs,", "https://docs.gitlab.com/ee/ci/multi_project_pipelines.html"
          you can now coordinate how different stages from different projects interact with each other within a single pipeline.

  .content.row-layout
    .full-width
      %h2 Effective Day 2 Operations
      %p Your end to end DevOps workflow is only as fast as all the individual components that make it up. With various insights for operations teams, GitLab ensures your operations processes are moving at the pace of development.

  .content.row-layout
    .full-width
      = image_tag "images/environments_dashboard.png", class: "screenshot margin-bottom10", alt: "Environments Dashboard"

  .content.row-layout
    .full-width
      %ul
        %li
          Similar to the CI/CD pipelines dashboard that gives an at a glance view of the pipeline health, the
          = link_to "environments dashboard", "https://docs.gitlab.com/ee/ci/environments/environments_dashboard.html"
          gives a cross project view of the health and performance of all the environments in your projects. This view can help you diagnose if there is a specific issue in a specific environment or if it is a systemic issue that is affecting all environments.
        %li
          Building and managing Kubernetes environments can be challenging. A
          = link_to "centralized view of the Kubernetes cluster environments", "https://docs.gitlab.com/ee/user/clusters/environments.html"
          helps teams effectively track cluster environments, observe pod status and identify issues in the cluster environments.
        %li
          = link_to "Incident Management", "https://docs.gitlab.com/ee/operations/incident_management/"
          helps developers triage incidents related to their application. At any point in time, teams are dealing with numerous incidents. It is critical to prioritize and the
          = link_to "SLA countdown timer", "https://docs.gitlab.com/ee/operations/incident_management/incidents.html#service-level-agreement-countdown-timer"
          helps prioritize based on incidents that are closest to SLA breach.

  .content.row-layout
    .full-width
      %h2 Oversee application quality
      %p Defects are faster and more cost-effective to fix the earlier they are detected in the development cycle. GitLab enables you to visualize and enforce best practices for minimizing defect leakages.
      %ul
        %li
          Test coverage analysis can help detect leakages from one stage of the development lifecycle to the next. The
          = link_to "Group Code Coverage Dashboard", "https://docs.gitlab.com/ee/user/operations_dashboard/"
          helps DevOps teams track test coverage across a number of projects to identify code that isn't being tested.

    .full-width
      = image_tag "images/group_code_coverage_analytics.png", class: "screenshot margin-bottom10", alt: "Group code coverage"


  .content
    %h2.u-margin-bottom-sm.text-center
      Featured videos
    .video-slider
      - data.video_carousel.each do |video|
        -if video.carousel_identifier.include?("Ops Insights Carousel")
          = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}


%section
  .container
    .row
      .col-md-12.text-center
        = partial "includes/blog/try"

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("Ops Insights Carousel")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl}
