@import "2020variables";

.customer-reference { 
  .slp-prose ul li {
    margin-top: 1.25em;
    margin-bottom: 1em;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
  }

  #callouts {
    margin-bottom: -6.4rem;
  }

  @media (max-width: 1024px) {
    #callouts {
      margin-bottom: 0rem;
      margin-top: -6.4rem;
    }
  }

  #element-with-background-image {
    position: relative;
    padding: 0px;
    background-size: cover; /* Resize the background image to cover the entire container */

    @media (min-width: 1024px) {
      min-height:400px;
    }
  }

  #element-with-background-image:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 1024px) {
    #element-with-background-image {
      margin-top: -6.4rem;
    }
  }

  a, .slp-prose a {
    color: $color-purple-light-2020-alt;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-purple-light-2020-alt;    
    }
  }

  a:hover .slp-arrow {
    visibility: visible;
  }
}

.slp-sidebar {
  .slp-overflow-y-auto {
    max-height: 80%;
    overflow-y: scroll; 
  }

  .customer-logo {
    margin-top:20px;
    max-height:70px;
  }
}